
footer {
    font-size: 0.8em;
}

#swipe-results,
#step-2-form
{
    display: none;
}

.intermediate-step-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.logo-bottom {
    position: absolute;
    bottom: 0;
}