<footer class="container position-absolute bottom-0 start-50 translate-middle-x"> 
    <!-- <div class="bt-1 pb-2 mt-2 border-top border-dark border-2">        
        <div class="text-center p-3">
            COPYRIGHT © 2023 BYTEMESWIPENMATCH | ALL RIGHTS RESERVED | PRIVACY POLICY        
        </div>
    </div>         -->
</footer>
<!-- BOOTSTRAP.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- HAMMER.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
<!-- HELPER JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/helper.js') }}"></script>
