<footer class="bt-1 position-absolute pb-2 mt-2 w-100">
    <div class="text-center">
        COPYRIGHT © 2023 BYTEMESWIPENMATCH | ALL RIGHTS RESERVED | PRIVACY POLICY
    </div>
</footer>
<!-- BOOTSTRAP.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- HAMMER.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
<!-- HELPER JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/helper.js') }}"></script>
<!-- SWIPE JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/swipe.js') }}"></script>
