{% extends "layout.html" %}
{% block header %}
<div class="container justify-content-center py-4 mb-4 border-bottom border-2 border-dark">
    <div class="row">
        <div class="pe-5 col-6 text-end">
            <strong>ByteMe</strong>
        </div>
        <div class="col-6 text-start">
            {{ user_mail }}
        </div>
    </div>
    <!-- <div class="row pt-2">
        <div class="col pt-3">
            <div class="progress" style="margin:auto; margin-top:5px; width: 310px;">
                <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 1%;" aria-valuenow="1"
                    aria-valuemin="0" aria-valuemax="100">1%</div>
            </div>
        </div>
    </div> -->

</div>
{% endblock %}

{% block content %}

<!-- <div id="intermediate-screen">       

</div> -->

<input type="hidden" id="user_mail" value="{{ user_mail }}">
<input type="hidden" id="user_name" value="{{ user_name }}">
<input type="hidden" id="effort" value="{{ effort }}">
<input type="hidden" id="preference" value="{{ preference }}">

<div id="swipe-results" class="p-5">

    <div class="container">

        <h3 class="pb-3 border-bottom border-dark">Confirm swipes</h3>
        
        <table class="table">

            <thead>
                <th scope="col"> Interests (incl. methods and research) </th>
                <th scope="col"> Preference </th>
                <th scope="col"> Superlike </th>
            </thead>

            <tbody id="swiped-items">

            </tbody>

        </table>

        <a class="btn btn-primary text-end" id="sendSwipeResults">Send results</a>

    </div>

</div>

<div class="tinder">
    <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
    </div>

    <div class="tinder--cards text-start">

        {% for item in swipe_items %}

            {% if item["swipe_type"] == 'research_interest' %}

                <div class="tinder--card {{ item['user_mail'] }}" id="{{ item['swipe_type_id'] }}">
                    <div class="p-2">
                        <!-- <img src="https://picsum.photos/600/300"> -->
                        <h3 class="fw-bold">Research Interest <i class="fa fa-book" aria-hidden="true"></i></h3>
                        <p class="text-start p-4 pt-0 pb-2">
                            {{ item['research_interest'] }}
                            <input type="hidden" class="interest-text-full" value="{{ item['research_interest'] }}">
                            <input type="hidden" class="swipe-type" value="{{ item['swipe_type'] }}">
                        </p>
                        <div class="mx-auto text-center">
                            <img src="{{ url_for('static', filename='images/ByteMe_logo.jpeg') }}" height="170px" class="position-absolute bottom-0 start-50 translate-middle-x pb-3">
                        </div>
                    </div>

                </div>

            {% elif item["swipe_type"] == 'method' %}
                
                <div class="tinder--card {{ item['user_mail'] }}" id="{{ item['swipe_type_id'] }}">
                    <div class="p-2">
                        <!-- <img src="https://picsum.photos/600/300"> -->
                        <h3 class="fw-bold">Method <i class="fa fa-code text-end" aria-hidden="true"></i></h3>
                        <p class="text-start p-4 pt-0 pb-2">
                            {{ item['method'] }}
                            <input type="hidden" class="interest-text-full" value="{{ item['method'] }}">
                            <input type="hidden" class="swipe-type" value="{{ item['swipe_type'] }}">
                        </p>
                        <div class="mx-auto text-center">
                            <img src="{{ url_for('static', filename='images/ByteMe_logo.jpeg') }}" height="170px" class="position-absolute bottom-0 start-50 translate-middle-x pb-3">
                        </div>
                    </div>                    

                </div>

            {% elif item["swipe_type"] == 'research_interest_intro' %}
            

              <div class="tinder--card" id="{{ item['swipe_type'] }}">
                <div id="researchInterestIntro" class="p-2">
                    <img src="{{ url_for('static', filename='images/intermediate_img.jpg') }}" class="intermediate-step-img">
                    <h3 class="text-center pb-2">Research Interest</h3>
                    <p class="">
                        In this section, you will be presented with a series of research interests. 
                        Swipe right if you are interested in the research interest, and swipe left if you are not interested.
            
                        At the end, you will see a list of your swiped research interests, can correct them, and choose a favorite one (super-like).
                    </p>                    
                </div>
              </div>

            {% elif item["swipe_type"] == 'method_intro' %}
                
                <div class="tinder--card" id="{{ item['swipe_type'] }}">

                    <div id="methodIntro" class="p-2">
                        <img src="{{ url_for('static', filename='images/intermediate_img.jpg') }}" class="intermediate-step-img">
                        <h3 class="text-center pb-2">Methods</h3>
                        <p class="">
                            In this section, you will be presented with a series of methods.
                            Swipe right if you are interested in the methods, and swipe left if you are not interested.
                
                            At the end, you will see a list of your swiped methods, can correct them, and choose a favorite one (super-like).
                        </p>          
                    </div>

                </div>
                
            {% endif %}

        
        {% endfor %}
    </div>
    <div class="tinder--buttons">
        <button id="nope"><i class="fa fa-remove"></i></button>
        <button id="love"><i class="fa fa-heart"></i></button>
    </div>
</div>

<!-- Custom JS -->
<script type="text/javascript" defer src="{{ url_for('static', filename='js/swipe.js') }}"></script>

{% endblock %}